.skills > div{
    transition: 0.3s ease;
}

.skill_html:hover{
    background-image: linear-gradient(#dd4b25, #dd4b25);
    box-shadow:#dd4b25 1px 1px 15px 2px;    
    color:white;
}
.skill_html:hover::before{
    content: "<";
}
.skill_html:hover::after{
    content:"/>";
}
.skill_css:hover{
    background-image: linear-gradient(#1F46D7, #2760E5);
    box-shadow:#1F46D7 1px 1px 15px 2px;   
    color:white;
}
.skill_css:hover::after{
    content:"{}";
}
.skill_js:hover{
    background:#EAD41C;
    box-shadow:#EAD41C 1px 1px 15px 2px;
    color:black;
}
.skill_git:hover{
    background:#D75841;
    box-shadow:#D75841 1px 1px 15px 2px;
    color:white;
}
.skill_wordpress:hover{
    background:#1F6F93;
    box-shadow:#1F6F93 1px 1px 15px 2px;
    color:white;
}
.skill_bash:hover{
    background:#272F35;
    box-shadow:#459719 1px 1px 15px 5px;
    color: lime;
}
.skill_bash:hover::before{
    content: "$";
}
.skill_c:hover{
    background-color: #1f6f93;
    box-shadow:#1f6f93 1px 1px 15px 2px;
    color:white;
}
.skill_node:hover{
    background-color: #74AD5B;
    box-shadow: #74AD5B 1px 1px 15px 2px;
    color: #313131;
}
.skill_python:hover{
    background-color: #366C9C;
    box-shadow: #366C9C 1px 1px 15px 2px;
    color: #F7C93E;
}
.skill_mysql:hover{
    background-color: #005E86;
    box-shadow: #005E86 1px 1px 15px 2px;
    color: #faad30;
}
.skill_oracle:hover{
    background-color: #F30607;
    box-shadow: #F30607 1px 1px 15px 2px;
    color:black;
}
.skill_gcloud:hover{
    background: rgb(227,65,51);
    box-shadow: rgb(227,65,51) 1px 1px 15px 2px;
    color:white;
}

.skill_solana:hover{
    background: #14F195;
    color: #9945FF;
    box-shadow: #14F195  1px 1px 15px 2px;
}

.skill_react:hover{
    background:#5ed3f3;
    color: white;
    box-shadow: #5ed3f3  1px 1px 15px 2px;
}

.projects__row-content > a:hover{
    text-shadow: 1px 1px 10px #ffffff;
}

.psst{
    display:block;
    text-align: center;
    color: #ffffff;
    font-family: monospace;
    font-weight: 100;
    font-size: 0.7vw;
}

.twitter-svg{
    color:white;
}
